<div>
   <span class="modal-title" mat-dialog-title>Create Invoice Form</span>

   <mat-dialog-content>
      <form [formGroup]="invoiceForm" *ngIf="subscriptions$ | async as subscriptions">
         <mat-form-field>
            <mat-label>Subscription</mat-label>
            <mat-select formControlName="subscription_id" cdkFocusInitial>
               @for (subscription of subscriptions; track subscription) {
               <mat-option [value]="subscription.id">
                  {{subscription.user.name}} ({{ subscription.plan.name }}) - ₱{{ subscription.plan.price }}
               </mat-option>
               }
            </mat-select>
         </mat-form-field>
         <mat-form-field appearance="outline">
            <mat-label>Start date</mat-label>
            <input matInput [matDatepicker]="startDatePicker" formControlName="start_date" />
            <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
         </mat-form-field>
         <mat-form-field appearance="outline">
            <mat-label>End date</mat-label>
            <input matInput [matDatepicker]="endDatePicker" formControlName="end_date" />
            <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
         </mat-form-field>
      </form>
   </mat-dialog-content>

   <mat-dialog-actions>
      <button mat-button (click)="cancel()">Cancel</button>
      <button mat-raised-button [disabled]="!invoiceForm.valid" (click)="save()">Save</button>
   </mat-dialog-actions>
</div>